body {
  background-image: url(https://static.wikia.nocookie.net/mlp/images/0/04/Frame_of_empty_Ponyville_street_S1E20.png/revision/latest/scale-to-width-down/985?cb=20130711202024);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: auto;
}

html{
  height: 100%;
  width: 100%;
}


#myCanvas:hover {
  box-shadow: 0 0 5px 0 rgb(239, 80, 145), 0 0 20px 0 rgb(239, 80, 145);transition: all 200ms ease-out;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.pic:hover {
  box-shadow: 0 0 5px 0 rgb(239, 80, 145), 0 0 20px 0 rgb(239, 80, 145);transition: all 200ms ease-out;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}

h2, p {
  font-family: "Fontdiner Swanky", serif;
  color: rgb(239, 80, 145); 
}

.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

div {
  display: block;
  margin: 10px;
  padding: 5px;
  max-width: 1000px;
}
