body {
  background-image: url(sugarcubecorner.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  margin: auto;
}

html{
  height: 100%;
  width: 100%;
}


#myCanvas:hover {
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.pic:hover {
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}

h2, p {
  font-family: "Fontdiner Swanky", serif;
  color: rgb(239, 80, 145); 
}

.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

div {
  display: block;
  margin: 10px;
  padding: 5px;
  max-width: 1000px;
}

@keyframes myAnimation {
  0%   {box-shadow: 0 0 8px 0 rgb(244, 62, 62),0 0 8px 0 rgb(244, 62, 62)}
  25%  {box-shadow: 0 0 8px 0 rgb(255, 255, 107), 0 0 8px 0 rgb(255, 255, 107)}
  50%  {box-shadow: 0 0 8px 0 rgb(117, 239, 80), 0 0 8px 0 rgb(117, 239, 80)}
  75%  {box-shadow: 0 0 8px 0 rgb(80, 93, 239), 0 0 8px 0 rgb(80, 167, 239)}
  100% {box-shadow: 0 0 8px 0 rgb(244, 62, 180), 0 0 8px 0 rgb(244, 62, 180)}
  }